<header>
    <%= render 'layouts/navigation' %>
</header>

<div class="container">
<center>
<h1>Cart</h1>
<table class="table table-hover" style="margin-top: 4em;width: 60rem;">
  <thead>
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>

    
    <!-- < @carts.each do |cart| %> -->
    <% @products.each do |product| %>
    <tr>
      
        <!-- < if product["id"] == cart.product_id %> -->
          <td><%= product["attributes"]["name"] %></td>

          <td><%= number_field_tag :quantity, in: 1..10 %></td>

          <td><%= product["attributes"]["price"] %></td>
          <!-- <td><= link_to "Remove", cart, method: :delete, data: { confirm: "Are you sure?" } %></td> -->
          
        <!-- <end %> -->
      
    </tr>
    <% end %>
    <!-- < end %> -->
    <tr>
      <td>Total</td>
      <td></td>
    </tr>  
  </tbody>
</table>

<button id="rzp-button1">Checkout</button>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>

document.getElementById('rzp-button1').onclick = function(e){
  var options = {
    "key": "rzp_test_xgTnELp25UmLCC", 
    "amount": "4000", 
    "currency": "INR",
    "name": "Product App",
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    // "order_id": "order_Hm8bfwmCeDBj7a",     #transaction done
    "order_id": "order_Hm93UBmfaTyqPi" ,
    "handler": function (response){
        alert(response.razorpay_payment_id);
        alert(response.razorpay_order_id);
        alert(response.razorpay_signature)
    },
    "prefill": {
        "name": "Yashi Birthare",
        "email": "yashib@witmates.com",
        "contact": "9999999999"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
rzp1.on('payment.failed', function (response){
        alert(response.error.code);
        alert(response.error.description);
        alert(response.error.source);
        alert(response.error.step);
        alert(response.error.reason);
        alert(response.error.metadata.order_id);
        alert(response.error.metadata.payment_id);
});
    rzp1.open();
    e.preventDefault();
}
</script>

</center>
</div>