<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
 <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">User Dashboard</a>

      <%= link_to 'Profile', user_profile_path(current_user), class: "btn btn-outline-success btn-logout my-2 my-sm-0" %>
   
      <%= link_to 'Cart', carts_path, class: "btn btn-outline-success btn-space" %>
      <%= link_to 'Wishlist', wishlists_path, class: "btn btn-outline-success btn-space" %>

      <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "btn btn-outline-success btn-logout my-2 my-sm-0" ) %> 
    
  </div>
</nav>